body {
  font-family: verdana, arial, sans-serif;
  background-color: #691515;
}

h1 {
  color: #691515;
  font-family: georgia, serif;
  text-align: center;
}

.details {
  font-size:1.2em;
  font-family: georgia, serif;
  color: #691515;
}

div.everything {

  background-color: #e9e9e8;
}

img {
  display: block;
  width: 80%;
  margin: 10px auto;
}

@media screen and (min-width: 600px) {
    img {
    width: 30%;
    float: right;
  }

    div.everything {
      width: 80%;
      max-width: 750px;
      padding: 20px;
      margin: 10px auto;
      display: block;
      border: 1px black solid;
      background-color: #e9e9e8;}
}
